<html>
<head></head>
<title>
My Task </title>
<style>
.body{
    background-color:pink
}
</style>

<body>

            <form action="" method="POST">

    <label for="name">Name</label><br>
<input type="text" name="name"><br>
<label for="db">DOB</label><br>
<input type="text" name="dob"><br>
<label for="email">Email</label><br>
<input type="text" name="email"><br>
<label for="phone">Phone No</label><br>
<input type="text" name="phone"><br>
<input type="submit" value="Registration">
</form>
{{range.}}
{{.}}
{{end}}
</body>

</html>