<!Doctype html>
<html>
<head>
<body>
<h1> All the Data of the form are :</h1>



                <ul>
               Name:   <li>{{.Name}}</li><br>
               DOB:<li>    {{.Dob}}</li><br>
               Email: <li>{{.Email}}</li><br>
               Phone_no :<li>{{.Phone_no}}</li><br>
           
               
             </ul>
                
             
</body>
</html>